@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Trying to get secure image from blob storage.....</p>
    <br /><br />
    <img src="~/Home/GetSecureBlobImage" />
</div>
