@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Azure Security Demo</h4>
</div>
<div>
    <p>
    <table>
        <tr>
            <td><a href="/home/GetAnonImage">Read an image from Azure Blob Storage anonymously</a></td>
        </tr>
        <tr>
            <td><a href="/home/GetSecureImage">Read an image using a Managed Identity</a></td>
        </tr>
    </table>
    </p>
</div>
